{% extends 'layout.html' %}

{% block content %}

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Contacto</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Dirección</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">Teléfono</button>
    </li>
  </ul>

  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
        <form action=" " method="POST">{% csrf_token %}
            {{ form }}
            <br>
            <div class="d-grid gap-2 d-flex justify-content-end ">
                <a class="btn btn-secondary" href="/" role="button">Cancelar</a>
                <button type="submit" class="btn btn-primary">Crear Contacto</button>
            </div>
        </form>
    </div>
    <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
        <form action=" " method="POST">{% csrf_token %}
            {{ addressform }}
            <br>
            <div class="d-grid gap-2 d-flex justify-content-end ">
                <a class="btn btn-secondary" href="/" role="button">Cancelar</a>
                <button type="submit" class="btn btn-primary">Crear Contacto</button>
            </div>
        </form>
    </div>
    <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
        <form action=" " method="POST">{% csrf_token %}
                <div class="row">
                    <br>
                    <div class="d-grid gap-3 d-flex justify-content-end container">
                        <button type="button" class="btn btn-primary">Agregar</button>
                    </div>
                    <div>
                    {{ phoneform }}<button type="button" class="btn btn-warning">Cancelar</button>
                    </div>
                </div>
                <br>
            <div class="d-grid gap-2 d-flex justify-content-end ">
                <a class="btn btn-secondary" href="/" role="button">Cancelar</a>
                <button type="submit" class="btn btn-primary">Crear Contacto</button>
            </div>
        </form>
    </div>
  </div>

{% endblock %}