{% extends 'layout.html' %}

{% block content %}

    <div class="row">
        <div class="d-grid gap-2 d-flex justify-content-end">
            <a class="btn btn-primary" href="/nuevo-contacto/" role="button">Añadir Nuevo</a>
        </div>
    </div>
    <br>
    <div class="row">
        {% for contacto in contactos %}
                <div class="card">
                    <p class="text-end">{{ contacto.updated_at }}</p>
                    <a class="text-decoration-none fw-bolder text-uppercase" href="/contacto/editar/{{contacto.id}}/">{{ contacto.name }} {{ contacto.lastname }} </a>
                    <div class="d-grid gap-2 d-flex justify-content-start">
                        <a href="/contacto/editar/{{contacto.id}}/" class="btn btn-secondary btn-sm" role="button">editar</a>
                        <a href="/delete/{{contacto.id}}/"  class="btn btn-danger btn-sm" role="button">eliminar</a>
                    </div>
                </div>
        {% endfor %}
    </div>
    <br>
{% endblock %}