{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ vista }} | Agenda</title>

    <link rel="stylesheet" href="{% static 'bootstrap/style.css' %}">
</head>
<body>
        <div class="row">
            <div class="col-12">
                <nav class="navbar navbar-dark bg-dark">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="/">Agenda | {{ vista }} </a>
                    </div>
                </nav>
            </div>
        </div>
    <div class="container">
        <br>
        <div class="row justify-content-center bd-example-snippet">
            <div class="col-8-md">
                {% block content %}
                
                {% endblock %}
            </div>
        </div>
    </div>
    <script src="http://code.jquery.com/jquery-latest.js" defer></script>
<script src="{% static 'bootstrap/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js' %}" defer></script>
</body>
</html>