{% extends 'layout.html' %}

{% block content %}
{% load crispy_forms_tags %}
    <form class="card" action="/guardar/" method="POST"> {% csrf_token %}
        <div class="card-body">
                <br>{{ form | crispy }}
                <br>
        </div>
        <div class="d-grid gap-2 d-flex justify-content-end card-footer">
            <a class="btn btn-secondary" href="/" role="button">Cancelar</a>
            <button type="submit" class="btn btn-primary">Crear Contacto</button>
        </div>
    </form>
{% endblock %}